<div [ngStyle]="mainDivStyleValues" class="box" style="flex-direction:row;">
  <!-- flex를 적용하여 align을 맞춘다.
       https://developer.mozilla.org/ko/docs/Web/CSS/CSS_Flexible_Box_Layout/Flexbox%EC%9D%98_%EA%B8%B0%EB%B3%B8_%EA%B0%9C%EB%85%90 -->
  <div [ngStyle]="leftColumnStyleValues">
      <div [ngStyle]="bookLabelStyleValues">
      예약
      </div>
      <agm-map [ngStyle]="mapDivStyleValues"  (mapReady)="mapReady()"  [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker label="제주시청대여소" [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      <div class="box" style="background-color:#fed24b;width:100%" [style.height]="jejuStationNameHeightCss">
          <div style="display:flex;flex-direction:column;justify-content:center;" >
            <div [ngStyle]="jejuStationNameStyleValues">
            제주시청 대여소
            </div>
          </div>
          <div style="display:flex;flex-direction:column;justify-content:center;" >
            <div [ngStyle]="jejuStationNumberStyleValues">
            16-401
            </div>
          </div>
          <div style="display:flex;flex-direction:column;justify-content:center;" >
           
            <img style="color:black;" [ngStyle]="refreshImg" src="/assets/refresh.png"/>
            
          </div>
      </div>

      <div [ngStyle]="availableLabel" style="background-color:#f9fbfc;">
          대여 가능 
      </div>
      
      <div class="box" [ngStyle]="bicycleSectionsWhole" style="background-color:#f9fbfc;">
        <div [ngStyle]="eachBicycleImgSection" style="flex-direction:row;">
           <div class="box" [ngStyle]="bicycleLabel">
             <div style="display:flex;flex-direction:column;justify-content:center;background-color:#fed24b;" [style.padding-right]="bicyclePaddingleftCss" [style.padding-left]="bicyclePaddingleftCss" >EBS-1</div>
           </div>
           <div [ngStyle]="bicycleImg">
              <img style="width:100%;"  src="/assets/kisspng.png">
           </div>
           <div [ngStyle]="availableText" >
             이용 가능 <b>7대</b> 비용 <b>1,500월/시간</b> 
           </div>
           <div class="box">
              <div [ngStyle]="rentalLabel" style="background-color:#00227e;">
                대여
              </div>
              <button [ngStyle]="incLabel"  style="background-color:#00227e;color:white;border:0px;padding:0px;margin:0px;">
               &#x25B4;
              </button>
              <div [ngStyle]="numCountStyle" style="background-color:#00227e;color:white;">
                1
              </div>
              <button [ngStyle]="decLabel" style="background-color:#00227e;color:white;border:0px;padding:0px;margin:0px;">
                 &#x25BE;
              </button>
              <button [ngStyle]="addCart" style="background-color:#fed24b;color:white;border:0px;padding:0px;margin:0px;">
                +
              </button>
           </div>
        </div>

     <div [ngStyle]="eachBicycleImgSection" style="flex-direction:row;">
           <div class="box" [ngStyle]="bicycleLabel">
             <div style="display:flex;flex-direction:column;justify-content:center;background-color:#fed24b;" [style.padding-right]="bicyclePaddingleftCss" [style.padding-left]="bicyclePaddingleftCss" >EBS-1</div>
           </div>
           <div [ngStyle]="bicycleImg">
              <img style="width:100%;"  src="/assets/kisspng.png">
           </div>
           <div [ngStyle]="availableText" >
             이용 가능 <b>7대</b> 비용 <b>1,500월/시간</b> 
           </div>
           <div class="box">
              <div [ngStyle]="rentalLabel" style="background-color:#00227e;">
                대여
              </div>
              <button [ngStyle]="incLabel"  style="background-color:#00227e;color:white;border:0px;padding:0px;margin:0px;">
               &#x25B4;
              </button>
              <div [ngStyle]="numCountStyle" style="background-color:#00227e;color:white;">
                1
              </div>
              <button [ngStyle]="decLabel" style="background-color:#00227e;color:white;border:0px;padding:0px;margin:0px;">
                 &#x25BE;
              </button>
              <button [ngStyle]="addCart" style="background-color:#fed24b;color:white;border:0px;padding:0px;margin:0px;">
                +
              </button>
           </div>
     </div>

 <div [ngStyle]="eachBicycleImgSection" style="flex-direction:row;">
           <div class="box" [ngStyle]="bicycleLabel">
             <div style="display:flex;flex-direction:column;justify-content:center;background-color:#fed24b;" [style.padding-right]="bicyclePaddingleftCss" [style.padding-left]="bicyclePaddingleftCss" >EBS-1</div>
           </div>
           <div [ngStyle]="bicycleImg">
              <img style="width:100%;"  src="/assets/kisspng.png">
           </div>
           <div [ngStyle]="availableText" >
             이용 가능 <b>7대</b> 비용 <b>1,500월/시간</b> 
           </div>
           <div class="box">
              <div [ngStyle]="rentalLabel" style="background-color:#00227e;">
                대여
              </div>
              <button [ngStyle]="incLabel"  style="background-color:#00227e;color:white;border:0px;padding:0px;margin:0px;">
               &#x25B4;
              </button>
              <div [ngStyle]="numCountStyle" style="background-color:#00227e;color:white;">
                1
              </div>
              <button [ngStyle]="decLabel" style="background-color:#00227e;color:white;border:0px;padding:0px;margin:0px;">
                &#x25BE; <!-- &#x25BC;-->
              </button>
              <button [ngStyle]="addCart" style="background-color:#fed24b;color:white;border:0px;padding:0px;margin:0px;">
                +
              </button>
           </div>
     </div>
      </div>

  <div [ngStyle]="arbeit" style="background-color:#f9fbfc;">
  아르바이트
  </div>
  <div style="background-color:#f9fbfc;">
    <table [ngStyle]="parttimeTableStyle">
        <tr>
            <td  > &#x269D;</td>  <!-- 참고 https://www.w3schools.com/charsets/ref_utf_symbols.asp -->
            <td [ngStyle]="headerStyle">모델</td>
            <td [ngStyle]="headerStyle" colspan="3" style="text-align:center;" >이동정보</td>
            <td [ngStyle]="headerStyle">거리</td>
            <td [ngStyle]="headerStyle">소요시간</td>
            <td [ngStyle]="headerStyle">보상</td>
        </tr>
        <tr [ngStyle]="borderTHBottom">
            <td> &#x25A0; </td> <!-- https://www.w3schools.com/charsets/ref_utf_geometric.asp -->
            <td [ngStyle]="tableBoldBlueStyle">EBS-1</td>
            <td> <p [ngStyle]="tableBoldBlueStyle"> From</p> 
              <p [ngStyle]="stationNameFontStyle">제주시청대여소</p>
              <p [ngStyle]="addressStyle">제주특별자치도 제주시 이도2동 광양9길 10</p>
            </td>
            <td  [ngStyle]="morethanImgStyle" >
              <img style="width:100%;" src="/assets/morethan.png">
            </td>
            <td><p [ngStyle]="tableBoldBlueStyle"> To</p> 
               <p [ngStyle]="stationNameFontStyle">제주관광공사 대여소</p>
               <p [ngStyle]="addressStyle">제주특별자치도 제주시 이도2동 광양9길 10</p>
            </td>
            <td [ngStyle]="tableBoldBlueStyle">2km</td>
            <td [ngStyle]="tableBoldBlueStyle">8min</td>
            <td [ngStyle]="tableBoldBlueStyle">1,000</td>            
        </tr>
        <tr [ngStyle]="borderTHBottom">
            <td> &#x25A0; </td> <!-- https://www.w3schools.com/charsets/ref_utf_geometric.asp -->
            <td [ngStyle]="tableBoldBlueStyle">EBS-1</td>
            <td> <p [ngStyle]="tableBoldBlueStyle"> From</p> 
              <p [ngStyle]="stationNameFontStyle">제주시청대여소</p>
              <p [ngStyle]="addressStyle">제주특별자치도 제주시 이도2동 광양9길 10</p>
            </td>
            <td  [ngStyle]="morethanImgStyle" >
              <img style="width:100%;" src="/assets/morethan.png">
            </td>
            <td><p [ngStyle]="tableBoldBlueStyle"> To</p> 
               <p [ngStyle]="stationNameFontStyle">제주관광공사 대여소</p>
               <p [ngStyle]="addressStyle">제주특별자치도 제주시 이도2동 광양9길 10</p>
            </td>
            <td [ngStyle]="tableBoldBlueStyle">2km</td>
            <td [ngStyle]="tableBoldBlueStyle">8min</td>
            <td [ngStyle]="tableBoldBlueStyle">1,000</td>            
        </tr>    
        </table>
        <div [ngStyle]="horizonalLineStyle"></div>
        <div [ngStyle]="reservationConfirmLabelStyle">
          예약 확인
        </div>
        <div [ngStyle]="lentalLabelStyle">
          대여
        </div>
    <table [ngStyle]="rentalTableStyle">
        <tr [ngStyle]="headerHeightStyle">
            <td  > &#x269D;</td>  <!-- 참고 https://www.w3schools.com/charsets/ref_utf_symbols.asp -->
            <td [ngStyle]="headerStyle">모델</td>
            <td [ngStyle]="headerStyle" style="text-align:center;" >대여</td>
            <td [ngStyle]="headerStyle" style="text-align:center;">반납</td>
            <td [ngStyle]="headerStyle">대여 수</td>
            <td [ngStyle]="headerStyle">대여시간</td>
            <td [ngStyle]="headerStyle">가격</td>
        </tr>
        <tr [ngStyle]="borderTHBottom">
            <td> &#x25A0; </td> <!-- https://www.w3schools.com/charsets/ref_utf_geometric.asp -->
            <td [ngStyle]="tableBoldBlueStyle">EBS-1</td>
            <td> <p [ngStyle]="tableBoldBlueStyle"> 2018.10.15 09:00</p> 
              <p [ngStyle]="stationNameFontStyle">제주시청대여소</p>
              <p [ngStyle]="addressStyle">제주특별자치도 제주시 이도2동 광양9길 10</p>
            </td>
            <td><p [ngStyle]="tableBoldBlueStyle"> 2018.10.15 11:00</p> 
               <p [ngStyle]="stationNameFontStyle">제주관광공사 대여소</p>
               <p [ngStyle]="addressStyle">제주특별자치도 제주시 이도2동 광양9길 10</p>
            </td>
            <td [ngStyle]="tableBoldBlueStyle">

            <div class="box">
              <button  [ngStyle]="numCountStyleInTable" style="background-color:white;color:#00227e;border:0px;padding:0px;margin:0px;">
               &#x25B4;
              </button>
              <div [ngStyle]="numCountStyleInTable" style="color:#00227e;">
                2대
              </div>
              <button [ngStyle]="numCountStyleInTable" style="background-color:white;color:#00227e;border:0px;padding:0px;margin:0px;">
                 &#x25BE;
              </button>
           </div>
           <button [ngStyle]="changeButtonStyle"> 변경</button>
            </td>
            <td [ngStyle]="tableBoldBlueStyle">2시간</td>
            <td [ngStyle]="tableBoldBlueStyle">1,500원/시간</td>            
        </tr>
        <tr style="background-color:#fed24b;">
            <td colspan="5" ></td>
            <td [ngStyle]="tableBoldBlueStyle">합계</td>
            <td [ngStyle]="tableBoldBlueStyle">6,000원</td>
        </tr>
    </table>
        <div [ngStyle]="lentalLabelStyle">
          아르바이트 예약
        </div>
    <table [ngStyle]="rentalTableStyle">
        <tr>
            <td  > &#x269D;</td>  <!-- 참고 https://www.w3schools.com/charsets/ref_utf_symbols.asp -->
            <td [ngStyle]="headerStyle">모델</td>
            <td [ngStyle]="headerStyle" colspan="3" style="text-align:center;" >이동정보</td>
            <td [ngStyle]="headerStyle">거리</td>
            <td [ngStyle]="headerStyle">소요시간</td>
            <td [ngStyle]="headerStyle">보상</td>
        </tr>
        <tr [ngStyle]="borderTHBottom">
            <td> &#x25A0; </td> <!-- https://www.w3schools.com/charsets/ref_utf_geometric.asp -->
            <td [ngStyle]="tableBoldBlueStyle">EBS-1</td>
            <td> <p [ngStyle]="tableBoldBlueStyle"> From</p> 
              <p [ngStyle]="stationNameFontStyle">제주시청대여소</p>
              <p [ngStyle]="addressStyle">제주특별자치도 제주시 이도2동 광양9길 10</p>
            </td>
            <td  [ngStyle]="morethanImgStyle" >
              <img style="width:100%;" src="/assets/morethan.png">
            </td>
            <td><p [ngStyle]="tableBoldBlueStyle"> To</p> 
               <p [ngStyle]="stationNameFontStyle">제주관광공사 대여소</p>
               <p [ngStyle]="addressStyle">제주특별자치도 제주시 이도2동 광양9길 10</p>
            </td>
            <td [ngStyle]="tableBoldBlueStyle">2km</td>
            <td [ngStyle]="tableBoldBlueStyle">8min</td>
            <td [ngStyle]="tableBoldBlueStyle">1,000</td>            
        </tr>
        <tr style="background-color:#fed24b;">
            <td colspan="6" ></td>
            <td [ngStyle]="tableBoldBlueStyle">합계</td>
            <td [ngStyle]="tableBoldBlueStyle">-1,000원</td>
        </tr>
    </table>

        <div [ngStyle]="lentalLabelStyle">
          합계
        </div>
        <div style="position: relative;">
          <table [ngStyle]="totalTableStyle">
              <tr >
                  <td>대여</td>
                  <td></td>
                  <td>아르바이트</td>
                  <td style="background-color:#fed24b;"></td>
                  <td style="background-color:#fed24b;"></td>
                  <td [ngStyle]="paymentCellStyle" style="background-color:#fed24b;">결제금액</td>          
              </tr>      
              <tr>
                  <td [ngStyle]="tableBoldBlueStyle">3,000원</td>
                  <td [ngStyle]="tableBoldBlueStyle">+</td>
                  <td [ngStyle]="tableBoldBlueStyle">-1,000원</td>
                  <td style="background-color:#fed24b;"></td>
                  <td [ngStyle]="tableBoldBlueStyle" style="background-color:#fed24b;"> = </td>
                  <td [ngStyle]="tableBoldBlueStyle" style="background-color:#fed24b;">2,000원</td>
              </tr>      
          </table>
          <div>&nbsp;</div>
          <button [ngStyle]="paymentButtonStyle">결제</button>
        </div>
  </div>
  
  </div>

  <div [ngStyle]="rightColumnStyleValues">
<button [ngStyle]="reservationButtonStyleValues" (click)="reservation()">예약</button>
<button [ngStyle]="parttimeButtonStyleValues" (click)="parttime()">아르바이트</button>

<div [ngStyle]="actionBoxStyleValues"  *ngIf="action=='reservation'" >
  <div class="box">
    <div [ngStyle]="numberStyleValues">01</div> 
    <div [ngStyle]="labelStyleValues">&nbsp;대여소 선택</div>
  </div>
  <div>
        <input [ngStyle]="storeSelectStyleValues" type="text" placeholder="출발 대여소 " (keyup)="storeNameInput()" [(ngModel)]="store" />
        <div [ngStyle]="dropDownStoresStyleValues" [hidden]="dropDownStoresHidden" *ngIf="stores.length>0" style="overflow:auto;">
        <button [ngStyle]="stationNameButtonStyleValues" *ngFor="let eachStore of stores;let i=index;" (click)="storeSelect(stores[i])" >
            {{eachStore}}
        </button>
        </div>
  </div>
  <div class="box">
  <span [ngStyle]="numberStyleValues">02</span> 
  <span [ngStyle]="labelStyleValues">&nbsp;일정선택</span>
  </div>
  <div class="box">
  <input [ngStyle]="datePickerStyleValues" type="text" [(ngModel)]="dateInput" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
  <input [ngStyle]="timePickerStyleValues" type="time" [(ngModel)]="timeInput" />
  </div>
  <div class="box">
  <span [ngStyle]="numberStyleValues">03</span>
  <span [ngStyle]="labelStyleValues">&nbsp;자전거 모델 선택</span>
  </div>
  <div class="box" >
  <button [ngStyle]="ebsChosenStyleValues" *ngIf="bicycleInput=='EBS-1'"> EBS-1</button>
  <button [ngStyle]="ebsUnchosenStyleValues" *ngIf="bicycleInput!='EBS-1'" (click)="selectBicycle('EBS-1')"> EBS-1</button>
  <button [ngStyle]="ebsChosenStyleValues" *ngIf="bicycleInput=='EBS-2'"> EBS-2</button>
  <button [ngStyle]="ebsUnchosenStyleValues" *ngIf="bicycleInput!='EBS-2'" (click)="selectBicycle('EBS-2')"> EBS-2</button>
  <button [ngStyle]="ebsChosenStyleValues" *ngIf="bicycleInput=='EBS-3'"> EBS-3</button>
  <button [ngStyle]="ebsUnchosenStyleValues" *ngIf="bicycleInput!='EBS-3'" (click)="selectBicycle('EBS-3')"> EBS-3</button>
  </div>
  <button [ngStyle]="searchButtonStyleValues" (click)="search()">검색</button>  
  </div>

<div [ngStyle]="actionBoxStyleValues"  *ngIf="action=='partime'" >
  <div class="box">
  <span [ngStyle]="numberStyleValues">01</span> 
  <span [ngStyle]="labelStyleValues"> &nbsp;대여소 선택</span>
  </div>
  <div>
        <input [ngStyle]="storeSelectStyleValues" type="text" placeholder="출발 대여소 " (keyup)="storeNameInput()" [(ngModel)]="store" />
        <div [ngStyle]="dropDownStoresStyleValues" [hidden]="dropDownStoresHidden" *ngIf="stores.length>0" style="overflow:auto;">
        <button [ngStyle]="stationNameButtonStyleValues" *ngFor="let eachStore of stores;let i=index;" (click)="storeSelect(stores[i])" >
            {{eachStore}}
        </button>
        </div>
  </div>
  <div class="box">
  <span [ngStyle]="numberStyleValues">02</span> 
  <span [ngStyle]="labelStyleValues">&nbsp;보상 선택</span>
  </div>
  <div>
  <input type="range"  [(ngModel)]="payment" [ngStyle]="rangeStyleValues" (input)="doSomething()" min="0" max="5000">
  </div>
  <div class="box">
  <span [ngStyle]="labelStyleValues">0원</span>
  <span [ngStyle]="labelPaymentStyleValues">{{payment}}원</span>
  <span [ngStyle]="labelStyleValues">5000원</span>
  </div>
  <div class="box">
  <span [ngStyle]="numberStyleValues">03</span>
  <span [ngStyle]="labelStyleValues">&nbsp;반경 거리</span>
  </div>
<div class="box">
  <button [ngStyle]="ebsChosenStyleValues" *ngIf="distanceInput=='1km'"> 1km</button>
  <button [ngStyle]="ebsUnchosenStyleValues" *ngIf="distanceInput!='1km'" (click)="selectDistance('1km')"> 1km</button>
  <button [ngStyle]="ebsChosenStyleValues" *ngIf="distanceInput=='3km'"> 3km</button>
  <button [ngStyle]="ebsUnchosenStyleValues" *ngIf="distanceInput!='3km'" (click)="selectDistance('3km')"> 3km</button>
  <button [ngStyle]="ebsChosenStyleValues" *ngIf="distanceInput=='5km'"> 5km</button>
  <button [ngStyle]="ebsUnchosenStyleValues" *ngIf="distanceInput!='5km'" (click)="selectDistance('5km')"> 5km</button>
</div>
  <button [ngStyle]="searchButtonStyleValues" (click)="search()">검색</button>
</div>
</div>

<div [ngStyle]="footerLinkDivStyleValues">
  <a style="text-decoration:none;" [ngStyle]="footerLinkFirstEachStyleValues" routerLink="/about">서비스 소개</a>
  <a style="text-decoration:none;" [ngStyle]="footerLinkEachStyleValues" routerLink="/book">예약</a>
  <a style="text-decoration:none;" [ngStyle]="footerLinkEachStyleValues" routerLink="/parttime">아르바이트</a>
  <a style="text-decoration:none;" [ngStyle]="footerLinkEachStyleValues" >테마 코드</a>
  <a style="text-decoration:none;"><img [ngStyle]="footerLinkFirstImgStyleValues" src='/assets/facebook.png' class='social-link' /></a>
  <a style="text-decoration:none;"><img [ngStyle]="footerLinkImgStyleValues" src='/assets/instagram.png' class='social-link' /></a>
  <a style="text-decoration:none;"><img [ngStyle]="footerLinkImgStyleValues" src='/assets/socialLink.png' class='social-link' /></a>
  <a style="text-decoration:none;"><img [ngStyle]="footerLinkImgStyleValues" src='/assets/twitter.png' class='social-link' /></a>
</div>

<div [ngStyle]="footerDivStyleValues">
  <img [ngStyle]="ebsBottomStyleValues" src='/assets/ebsBottom.png'/>
  <img [ngStyle]="designByBottomStyleValues" src='/assets/2018-designed-by-w.png'/> 
  <!-- 
   <button [ngStyle]="scrollTopStyleValues" (click)="scrollTop()" >...</button>
   -->
</div>

</div>

